.ddsmoothmenu{

}

.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a {
	font:normal 12px Arial, Helvetica, sans-serif;
	display: block;
	position: relative;
	width: 100px;
	padding: 12px 0 0;
	margin: 0;
	font-size: 14px;
	color:#FFF;	
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	outline: none;
	border: none;
}



* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a.selected, .ddsmoothmenu ul li a:hover { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color:#1DA9E3;
	/* background:url(../images/hover.gif) top repeat-x; */
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
	position: absolute;
	left: -23px !important;
	margin-top: 0;
    min-height: 51px;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background: #515151;
	width: 320px !important;
	border: 1px solid transparent;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: left;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	width: 134px; /*width of sub menus*/
	padding: 0 10px;
	margin: 2px;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	border-top-width: 0;
	text-align: center;
	background: none;
	text-indent: 10px;
	color: #fff;
	font-family: Arial;
	border: 1px solid transparent;
}

.ddsmoothmenu ul li ul li a.selected, .ddsmoothmenu ul li ul li a:hover {
	color: #fff;
	border: 1px solid #656565;
	background: #616161;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
background: #cecece;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
opacity: 0.5;
}

/* menu */

