@charset "utf-8";

/*
@font-face {  
  font-family: Open Sans;  
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype"); 
  font-weight: 400;
} 
@font-face {  
  font-family: Open Sans;  
  src: url(../fonts/OpenSans-Semibold.ttf) format("truetype"); 
  font-weight: 600;
}

*/  
 
/* =RESET
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body {
	background: #fff;
	line-height: 1;
	font-family:Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 3px;
}
caption, th, td {
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
em{
	font-style: italic;
}
strong{
	font-weight: 600; 
}
/* MAIN CSS */ 

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:0;
	padding:0;
	width:100%;
	height: 100%;
	background-attachment: fixed;
	background: #E5E5E5 url("../images/noise.png") repeat;
}
html { 
	padding:0;
	margin:0;
	overflow-y: scroll;
	 height: 100%;
}
li.bg, .bg {
	clear:both;
	padding:0;
	margin:10px 0;
	height:5px;
	list-style:none;
}
p.clr, .clr {
	clear:both;
	padding:0;
	margin:0;
}
.main {
	margin:0 auto;
	padding:0;
	width: 1024px;
	background: url(../images/main-bg.png) repeat-y; 
	min-height: 100%;
	position: relative;
}
.header {
	background:top repeat-x;
	margin:0;
	padding:0;
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:969px;
	background: url(../images/headbg.png) repeat-x;
}

.logo {
	width:auto;
	margin:0 auto 0 38px;
	padding:0;
	float:left;
}
#title-logo {
	margin:0;
	padding:36px 0 24px 30px;
	color:#fff;
	font:bold 40px/1.2em Arial, Helvetica, sans-serif;
}

#title-logo a, h1 a:hover {
	color:#fff;
	text-decoration:none;
}

#title-logo span {
	color:#0080b5;
}

#title-logo small {
	font:normal 13px/1.2em Arial, Helvetica, sans-serif;
	color:#0080b5;
}

h1 {
	margin:0;
	padding:36px 0 24px 30px;
	color:#fff;
	font:bold 40px/1.2em Arial, Helvetica, sans-serif;
}
h3{
	font:bold 14px/1.2em Arial, Helvetica, sans-serif;
}
h1 a, h1 a:hover {
	color:#fff;
	text-decoration:none;
}
h1 span {
	color:#0080b5;
}
h1 small {
	font:normal 13px/1.2em Arial, Helvetica, sans-serif;
	color:#0080b5;
}
.header h3{
    margin: 10px;
    font-weight: bold;
}
h3.header-subtitle{
	float: right;
	font-weight: 400; 
}
h3.header-subtitle a{
	padding: 0;
}
.search {
	padding:20px 20px 0 0;
	margin:0;
	width:260px;
	float:right;
}
.search form {
	float:right;
	padding:0 10px 0 0;
	margin:0;
}
.search span {
	display:block;
	float:left;
	background:#fff;
	width:180px;
	padding:3px 5px;
	border:1px solid #d1d2d1;
}
.search form .keywords {
	width:170px;
	line-height:14px;
	height:14px;
	float:left;
	background:none;
	border:0;
	padding:6px 2px;
	margin:0;
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#acacac;
}
.search form .button {
	float:left;
	margin:0 0 0 10px;
	padding:0;
}
.menu {
	padding:0;
	margin: 0 0 10px;
	width:auto;
	float:right;
}
/*
.menu ul {
	padding:0;
	margin:0;
	list-style:none;
	border:0;
	float:left;
}
.menu ul li {
	float:left;
	margin:0;
	padding:0 8px 0 0;
}
.menu ul li a {
	float:left;
	margin:0;
	padding:10px 16px;
	color:#696969;
	font:normal 12px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.menu ul li a:hover {
	color:#417684;
	background:url(images/hover.gif) top repeat-x;
}
.menu ul li a.active {
	color:#417684;
	background:url(images/hover.gif) top repeat-x;
	font-weight:bold;
}
*/

.menu li.left-curve a{	
	background: url(../images/menu-left-bg.png) no-repeat;
	width: 64px;
}
.menu a{	
	background: url(../images/menu-main-bg.png) repeat-x;
	height: 35px;
	font-family:Arial, Helvetica, sans-serif !important;
}
.menu a:hover{
	color: red;
}


.headert_text_resize {
	width:969px;
	padding:0;
	margin:0 auto;
	background:url(../images/header_text_bg.png) top no-repeat;
	height:107px;
}
.headert_text_resize img {
	margin:0;
	padding:17px 0 0 28px;
	float:left;
}
.headert_text {
	width:auto;
	float:left;
	margin:0;
	padding:40px 30px 0 30px;
}
.headert_text h2 {
	font:bold 26px Arial, Helvetica, sans-serif;
	color:#fcfdfe;
	padding:10px 0;
	margin:0;
}
.headert_text p {
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#fcfdfe;
	padding:10px 0;
	margin:0;
	line-height:1.8em;
}
.headert_text p a {
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#fcfdfe;
	padding:10px 0;
	margin:0;
	line-height:1.8em;
}
.headert_text p span {
	color:#417684;
	font-weight:bold;
}
.body_resize {
	margin:0 auto;
	padding:0;
	width:969px;
}
.body {
	margin:0;
	padding:0;
}
.body h2 {
	color:#417684;
	padding:3px 0 3px 5px;
	margin:5px 0 10px 0;	
	font-family:Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: bold;
    word-spacing: -1px;
	
}
.body h2 span {
	color:#323a3f;
	vertical-align: baseline;
}
.body p {
	font:normal 13px Arial, Helvetica, sans-serif
	color:#696969;
	padding:5px;
	margin:0;
	line-height:1.8em;
}
.body img {
	float:left;
	margin:5px;
	padding:0;
}
.body a {
	color:#0080b5;
	text-decoration:underline;
}
.left {
	float:left;
	width:660px;
	margin:0;
	padding:0 10px;
	background:#fcfdfe;
	border:1px solid #d6d6d6;
}
.whole {
	float:left;
	width:969px;
	margin:0;
	padding:0;
}
.content {
	background:#fff;
	float: left;
	margin:3px;
	padding:10px;
	height: 100%;
	position: relative;
	width: 97%;
}
.content a#customerlist:hover, a.back_to_modules:hover, a.back-to-scanout:hover {
	text-decoration: underline !important;
   /* border-bottom:2px solid #40A373; */
}
a{
 vertical-align: baseline;
}
.right {
	float:right;
	width:240px;
	margin:0;
	padding:0 10px;
	background:#fcfdfe;
	border:1px solid #d6d6d6;
}
.right .blog {
	border:1px solid #dedede;
	margin:10px 0;
	padding:10px;
	background:#fff;
}
.right ul {
	list-style:none;
	margin:5px 10px;
	padding:0;
}
.right li {
	border-bottom:1px dashed #f0f1f1;
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#696969;
	padding:5px 0;
	margin:3px 0;
}
.right li a {
	padding:0 0 0 15px;
	margin:0;
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#696969;
	text-decoration:none;
}
.right li a:hover {
	color:#ea5d00;
	text-decoration:none;
}
.right ul.sponsors {
	list-style:none;
	margin:5px 10px;
	padding:0;
}
.right li.sponsors {
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#585858;
	padding:14px 10px;
}
.right li.sponsors a {
	padding:0 0 0 0px;
	margin:0;
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#696969;
	text-decoration:none;
}
.right li.sponsors span {
	color:#ea5d00;
	font:bold 12px Georgia, "Times New Roman", Times, serif;
}
.FBG_resize {
	margin:0 auto;
	padding:0;
	width:930px;
}
.FBG {
	margin:0;
	padding:0;
}
.FBG img {
	float:left;
	margin:5px 10px 5px 0;
	padding:0;
}
.FBG h2 {
	font:bold 24px Arial, Helvetica, sans-serif;
	color:#417684;
	padding:3px 0 3px 5px;
	margin:5px 0 10px 0;
}
.FBG h2 span {
	color:#323a3f;
}
.FBG p {
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#696969;
	padding:5px;
	margin:0;
	line-height:1.8em;
}
.FBG a {
	color:#ea5d00;
	text-decoration:underline;
}
.FBG .blok {
	width:270px;
	float:left;
	padding:5px 20px;
	margin:0;
}
.footer_resize {
	margin:0 auto;
	padding:0;
	width:969px;
	color:#ffffff;
	font:normal 12px Arial, Helvetica, sans-serif;
	background:#005F84;
	text-align:center;
}
.footer {
	bottom: 0;
    height: 45px;
    left: 0;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
}
.footer p {
	margin:0;
	padding:15px 0;
	line-height:normal;
	color:#ffffff;
}
.footer a {
	color:#ffffff;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}

form input,select,button,input.ui-button {
	font:normal 12px Arial, Helvetica, sans-serif;
}

#globalform {
	margin:0;
	padding:5px 10px;
}
#globalform * {
	/*color:#F00;*/
}
#globalform ol {
	margin:0;
	padding:0;
	list-style:none;
}
#globalform li {
	margin:0;
	padding:0;
	background:none;
	border:none;
	display:block;
	clear:both;
}
#globalform li.buttons {
	margin:5px 0 5px 0;
}
#globalform label {
	margin:0;
	width:110px;
	display:block;
	padding:10px 0;
	color:#666;
	font:12px Arial, Helvetica, sans-serif; 
	text-transform:capitalize;
	float:left;
}

#globalform label span {
	/*color:#F00;*/
}

#globalform input.text {
	max-width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
	float:left;
}
#globalform input.text.long {
	width: 370px;
	margin-top: -7px;
}
#globalform select.select {
	max-width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
	float:left;
	height:30px;
}
#globalform textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
	float:left;
}
#globalform li.buttons input {
	padding:6px;
	margin:10px 0 0 110px;
	float:left;
}

/* Global Form for multiple use - use class */
.globalform {
	margin:0;
	padding:5px 10px;
}
.globalform * {
	/*color:#F00;*/
}
.globalform ol {
	margin:0;
	padding:0;
	list-style:none;
}
.globalform li {
	margin:0;
	padding:0;
	background:none;
	border:none;
	display:block;
	clear:both;
}
.globalform li.buttons {
	margin:5px 0 5px 0;
}
.globalform label {
	margin:0;
	width:140px;
	display:block;
	padding:10px 0;
	color:#666;
	font:normal 12px Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	float:left;
}

.globalform label span {
	/*color:#F00;*/
}

.globalform input.text {
	max-width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
	float:left;
	width: 130px; 	
}
.globalform input.text.long {
	width: 370px;
	margin-top: -7px; 
}
.globalform select.select {
	max-width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
	float:left;
	height:30px;
}
.globalform textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
	float:left;
}
.globalform li.buttons input {
	padding:6px;
	margin:10px 5px 0 0;
	float:left;
}
.globalform li.buttons2 input {
	padding:6px;
	margin:10px 5px 0 0;
	float:left;
}
.globalform .entryNumberBox{
	float: left;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 5px;
}
.globalform .entryNumberBox p{
	float: left;
    margin: 0 5px;
    padding: 0;
	width: 85px;
}
.globalform span.checkuncheck{
	float: left;
    margin: -9px 0 9px 416px;
}
.globalform .entryNumberBox input{
	vertical-align: middle;
}
.globalform .entryNumberBox ul{
	list-style: none;
	padding: 3px 5px;
}
.globalform .entryNumberBox ul li{
	padding: 5px;
}
.globalform .entryNumberBox ul li input{
	margin: 0 5px 0 0;
    vertical-align: middle;
}

.globalform .entryNumberBox table tbody input{
	margin: 0 5px 0 0;
    vertical-align: middle;
}

.globalform .entryNumberBox table{
	width:660px;
}

.globalform .afterinputbtn{
	height: 27px;
    margin: 3px 10px;
}
.globalform span.value{
	float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 100%;
    padding: 12px 0;
}

.globalform input[type='checkbox']{
	float: left;
    margin: 11px 2px 0 0;
}

.globalform .InnerLbl{
	color: #666666;
    display: block;
    float: left;
    font: 12px Arial, Helvetica, sans-serif;
    padding: 10px 5px 0 5px;
    text-transform: capitalize;
}

.globalform fieldset{
	border: 1px solid #EEEEEE;
    float: left;
    margin-top: 11px;
    padding: 5px 15px 10px 15px;
}
.globalform fieldset legend{
	color: #86B8B3;
    font-size: 11px;
    font-weight: bold;
}

/* End of global multiple form */

p.response {
	text-align:center;
	color:#F00;
	font:normal 11px Arial, Helvetica, sans-serif;
	line-height:1.8em;
	width:auto;
}

#login th,#login td{
	padding:2px;
}
#login table th,#forgot table th{
	padding-right:8px;
}
#login-username, #login-password,#username{
	border:#417684 1px dashed;
	width:200px;
	padding:2px;
	height:20px;
}

#forgot{
	display:none;
}
#forgot th,#forgot td{
	padding:2px;
}

#dialog-msgbox{
	display:none;
	padding: 25px 10px 10px;
}
#dialog-msgbox p{
	line-height: 18px; 
}

#forgot input[type='text'],
#login input[type='text'],
#firstlogin input[type='text'],
#firstlogin input[type='password']{
	border: 1px dashed #417684;
    height: 20px; 
    padding: 2px;
    width: 200px;
}
 
/* File uploader */
.qq-upload-button {
	margin: 5px 0;
	padding: 7px 17px !important;
}
.qq-upload-button.disabled {
	color:#3F3F3F;
	background:#848484;
}
.qq-upload-button-hover {
	background: url("images/ui-bg_highlight-soft_25_0080b5_1x100.png") repeat-x scroll 50% 50% #0080b5 !important;
    border: 1px solid #0080b5 !important;
    color: #FFFFFF !important;
    font-weight: bold !important;
}
.qq-uploader { position:relative; width: 100%;}


.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:9px 143px; padding:0; list-style:none; }
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../images/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

/* End of Upload Button */

.flightdetailfields2 .logmsg{float:left; margin: 10px 0px;}
.flightdetailfields2 #msg{ width:400px;height:200px;overflow:auto;border:1px solid #eee;padding:10px; }
.flightdetailfields2 #progressBar{ display:block;height:15px; }
.flightdetailfields2 p#msg span{ font-style: italic;}
.flightdetailfields2 span.error{ color: red; }
.flightdetailfields2 #errorFound{ float: left; width:400px;height:100px;overflow:auto;border:1px solid #eee;padding:10px; }
.flightdetailfields2 #errorFound p{color:red;margin:1px;padding: 0;}

/* Modules Items */
#module_items{
	width: 85%; 
	margin: 0 auto;
}
#module_items li {
	list-style: none;
	display: inline;
	float: left;
}
#module_items li a{
	float: left;
	width: 110px;
	height: 110px;
	background: url(../images/gst-module.png) -4px -6px no-repeat;
	margin: 10px;
	border: 1px solid #eeeeee; 
	position: relative;
}
#module_items li a:hover{
	border: 1px solid #d0d0d0;
}
#module_items li a span{	
	bottom: 0;
    color: #2D2D2D;
    display: table-cell;
    font-family:Arial, Helvetica, sans-serif;
    height: 30px;
    position: absolute;
    text-align: center;
    width: 95%;
	left: 3px;
	font-size: 12px;	
	font-weight: bold;
	line-height: 105%;
}
#module_items li a#icon_1{	background-position: -4px -6px; }  
#module_items li a#icon_2{	background-position: -116px -6px; } 
#module_items li a#icon_3{	background-position: -232px -6px; }  
#module_items li a#icon_4{	background-position: -116px -116px; }  
#module_items li a#icon_5{	background-position: -116px -232px; }  
#module_items li a#icon_6{	background-position: 0px -232px; }  
#module_items li a#icon_7{	background-position: 0px -116px; }  
#module_items li a#icon_8{	background-position: -232px -116px; }  

span.stripe{ 
	background: url(../images/stripe.png) repeat;
    display: block;
    height: 110px;
    margin: 11px; 
    width: 110px;
	display: block;
}
#icon_37 span{
	font-size: 10px !important; 
}
#icon_40 span{ 
	font-size: 11px !important; 
}
#back_btn{
	bottom: 10px;
    margin: 0 auto;
    position: absolute;
}

/* WAWI Customer Items */

#program_items{
	margin: 0 auto;
    width: 85%;
}
#program_items li {
	list-style: none;
	display: inline;
	float: left;
}
#program_items li a{
	float: left;
	width: 110px;
	height: 110px; 
	background: url(../images/gst-program.png) -4px -4px;
	margin: 10px;
	text-indent: -9999px;
	border: 1px solid #eeeeee;
}
#program_items li a:hover{
	border: 1px solid #d0d0d0;
}
#program_items li a#icon_1{ background-position: -116px 0px; }
#program_items li a#icon_2{ background-position: -232px 0px; }   

/* Time Picker */
* .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
* .ui-timepicker-div dl { text-align: left; }
* .ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
* .ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
* .ui-timepicker-div td { font-size: 90%; }
* .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* MultiFile Select */
.MultiFile-wrap{
	float: left;
    margin: 10px 0;
    width: auto; 
}
.MultiFile-list{
    margin: 7px 0;
}
.MultiFile-label{
	width: auto;
	padding: 2px;
}
.MultiFile-remove{
	background: url('../jQueryUI/themes/iwms/images/ui-icons_0080b5_256x240.png') no-repeat -100px -132px; 
	float: left;
    height: 10px;
    margin: 4px 10px 0 0; 
    text-indent: -99999px;
    width: 10px;
}
.MultiFile-title{
	font-style: italic;
	font-size: 13px;
}
.file-input {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    float:left;
    z-index:10;
   font-family:Arial, Helvetica, sans-serif;
}
.file-input input {
    text-transform:capitalize;
    cursor: pointer;
    font-size: 100px;
    height: 100%;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
    z-index:20;
    outline:none;
}
.file-input .btn{
    background: #79130e;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 18px;
    text-transform: uppercase;
    color:#fff;
    float:left;
}
.file-input .file-holder{
    margin-top:4px;
    display: block;
    float: left;
    margin-left:4px;
    font-size:11px
}

a.back-btn{
	font-weight: normal;
	font-size: 13px;
	color: #000;
}

a.back-btn-programs{
	font-weight: normal;
	font-size: 13px;
	color: #000;
	text-decoration:none;
	color:#176357;
	margin-right:5px; 
	padding-right:5px; 
	border-right:#88BBB4 1px solid;
}

a.back-to-scanout.link, a.back_to_modules.link{
	font-weight: normal;
	font-size: 13px;
	color: #000;
	text-decoration:none;
	color:#176357;
	margin-right:5px; 
	padding-right:5px; 
	border-right:#88BBB4 1px solid;
}

a.back-to-scanout.link:hover, a.back_to_modules.link:hover{
	text-decoration:none;
	border-bottom: none;
}


.lfpane,.rfpane{
	float: left;
    margin-left: 5%;
    padding: 15px;
    width: 40%;
}
/* Parts */
.partcheckboxgroup{
	width: 30%;
	float: right;
	margin: -220px -15px;
}
.partcheckboxgroup input[type='checkbox']{
	vertical-align: middle;
}
.partcheckboxgroup span{
	left: 6px;
    position: relative;
    top: 11px;
}
.frmParts textarea{
	width: 220px; 
}
.frmParts textarea#txtfactorycomment{
	width: 299px; 
}
.frmParts .lfpane{
	margin-left: 0;
    width: 50%;
}
.frmParts .rfpane{
	margin-right: 0;
    width: 33%;
}
select#OptListGroup{
	float: right;
    position: relative;
    right: -45px;
    top: -328px;
    width: 35%;
}

/* Datable hover color */
.dataTables_wrapper table tbody tr.even:hover,
.dataTables_wrapper table tbody tr.odd:hover, 
.dataTables_wrapper table tbody tr.even td.highlighted,
.dataTables_wrapper table tbody tr.odd td.highlighted,
.dataTables_wrapper table tr.even:hover,
.dataTables_wrapper table tr.odd:hover,
.dataTables_wrapper table tr.even:hover td a ,
.dataTables_wrapper table tr.odd:hover td a,
.dataTables_wrapper table tr.even:hover td.sorting_1 a ,
.dataTables_wrapper table tr.odd:hover td.sorting_1 a,
.dataTables_wrapper table tr.even:hover td.sorting_1 ,
.dataTables_wrapper table tr.odd:hover td.sorting_1{
	background-color: #004A95; 
	color: #FFFFFF !important;  
}

.edit-btn{
	background: url(../images/edit-btn.png) no-repeat;
	margin: 0 5px auto;
	text-decoration: none;
	width: 16px;
	height: 16px; 
	text-indent: -99999px; 
	display:inline-block;
} 
.delete-btn{
	background: url(../images/x-btn.png) no-repeat;	
	margin: 0 5px auto;
	text-decoration: none;
	width: 16px;
	height: 16px; 
	text-indent: -99999px; 
	display:inline-block;
}
.check-btn{
	background: url(../images/check-btn.png) no-repeat;	
	margin: 0 5px auto;
	text-decoration: none;
	width: 16px;
	height: 16px; 
	text-indent: -99999px; 
	display:inline-block;
}
/* 3b2 block */
#shippingsummary_3b2{
	 background: none repeat scroll 0 0 #FFFDED;
    border: 1px solid #EEEEEE;
    float: left;
    margin: 0 0 20px 77px;
    padding: 10px 0px 20px 20px;
}
#shippingsummary_3b2 input.readonly-trans{
	border: none;
	font-size: 15px;
	font-weight: bold;
	background: transparent;
}

/* QA Check */
.orderfields{
	float: left;
	width: 100%;
}
.orderfields .left-pane{
	float: left;
	width: 33%;
}
.qa-tables{
	width:65%;
	float:right;
}
.qa-tables .dataTables_length{
	width: 20%;
}
.qa-tables .dataTables_info{
	width: 30%;
}

span.success{
	color: green;
	font-weight: bold;
}
span.error{
	color: red;
	font-weight: bold;
}
.qafields h3{
	background: none repeat scroll 0 0 #F7F7F7;
    padding: 3px 5px;
    width: 99%;
}
.qafields .left-pane{
	float: left;
	width: 32%;
}
.qafields .btn{
	float: right;
	margin-top: 5px;
}

.icon-eye-grey{
	background:url(../images/icon-eye-grey.png) no-repeat;
	min-width:16px;
	min-height:16px;
}

.icon-eye-green{
	background:url(../images/icon-eye-green.png) no-repeat;
	min-width:16px;
	min-height:16px; 
}

#globalform label, .globalform label{
	font-weight:bold;
}
span.req{
	color: red;
	margin: 3px;
}

.tooltip {
	width:100px;
	background-color:#FFF9EA;
	padding:3px;
	font-size:11px;
	display: none;
	border: 1px solid #eee;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 
	  -moz-box-shadow:    3px 3px 4px #444444;
  -webkit-box-shadow: 3px 3px 4px #444444;
  box-shadow:         3px 3px 4px #444444;
}
.tooltip a{
	float: left;
    text-indent: 3px; 
    width: 50px;
}
.tooltip span{
	background: none repeat scroll 0 0 #FFF9EA;
    float: left;
    margin-left: 15px;
    padding: 2px;
    width: 30px;
}
h3#form-title{
	border-left: 5px solid green;
	padding: 0 4px;
	line-height: 12px;
}
#module_items span.cat-header{
	background-color: #4da477;
	background-image : url(../images/arrows-white.png);
	background-position: 5px 5px;
    background-repeat: no-repeat;
	color: #FFF;
	display: block;
	letter-spacing: 1px;
	margin-bottom: -5px;
	padding: 6px 0px 6px 0;
	text-shadow: 0 -1px 0 #adadad;
	width: 33%;
	text-align:center;
	background-color: #4da477;
	border-top: 1px solid #CFCACA;
	cursor : pointer;
	box-shadow: 0 1px #2a955e inset, 0 4px 3px rgba(34, 25, 25, 0.4);
}
span.arrow-e{
	background-image : url(../images/arrows-white.png);
	background-position: 5px -103px !important;
    background-repeat: no-repeat;
}
